body{
    background-color: #fff;
    margin: 0px;
}

/*----------------
 style the canvas
 ---------------*/
canvas {
    width: 100%;
    max-width:100vh;
    display: block;
    margin: 0 auto;
}

canvas,
.canvascontainer {
    background-color: #181818;
}

/*----------------
 style header
 ---------------*/
.nav {
    margin-top: 0px;
    margin-left: 0px;
    background-color: #181818;
    height: 80px;
    margin-bottom: 20px;
}

/*---------------------
 style the scrore blocks
 -----------------------*/
#score_player1,
#score_player2 {
    border: solid black 1px;
    height: 30px;
}

#score_player1 {
    border-radius: 0px 5px 0px 0px;
}

/*-----------------------------------
 style top and bottom info containers
 --------------------------------------*/
.infoscreen,
.rulesscreen {
    background-color: #fff;
    padding:5px 15px;
    border:black solid 1px;
}

.rulesscreen {
    border-radius: 0px 0px 5px 5px
}

.scoreinfocontain {
    border: solid black 1px;
    height: 60px;
}

.scoreboard {
    border:black solid 1px;
    border-radius:6px 6px 0px 0px;
}

/*-----------------------------------
 style the game buttons
 --------------------------------------*/

#playermode1,
#playermode2 {
    border:1px solid #b2b8ad;
    border: solid grey 1px;
    height: 30px;
    text-decoration-style: bold;
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#252525;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}

#playermode1 {
    margin-top: -2px;
    border-top-color: black;
}

#playermode1:hover,
#playermode2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
#playermode1,
#playermode2:active {
	position:relative;
	top:1px;
}

/*--------------
 style the dart.
 --------------*/
#dart {
    background-image: url("../img/dartpijl.png");
    background-size: contain;
}

/*---------------------
 Style the banner areas
 ----------------------*/
#banner1,
#banner2 {
    margin-top: 60px;
    background-color: green;
    height: 66.66vw;
    max-height: 100vh
}
